.alleventscontainer {
	margin: 2rem;
	margin-top: 0;
	color: white;
	background: transparent;
	display: flex;
	flex-direction: column;
	padding: 1rem;
}
.eventsContainer {
	margin-block: 2rem;
}
.imageInHeader {
	width: 100%;
	height: 230px;
	objectfit: cover;
	borderradius: 8px;
	border: 1px solid #00b093;
}
.eventsHeader {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 98vw;
	position: relative;
}
.duplicate123 {
	position: absolute;
	top: 35px;
	left: 100px;
}
.abiyanthlogoimg {
	height: 350px;
}
.alleventsculturalsheading {
	font-family: "Audiowide";
	font-size: 40px;
	font-weight: 400;
	line-height: 30.7px;
	color: #c91c75;
	margin-top: 0;
	margin-left: 3rem;
	text-shadow: 2px 2px 10px rgb(91, 90, 90);
}
.eventAbiyanthLogo {
	position: absolute;
	height: 100%;
	width: 47%;
	background-color: rgba(0, 0, 0, 0.3);
}

.alleventstopHeading {
	font-family: "Audiowide";
	font-size: 40px;
	font-weight: 400;
	line-height: 76.49px;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
	margin-bottom: 2rem;
}
.alleventstext1 {
	font-family: "Audiowide";
	font-size: 50px;
	font-weight: 400;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
	padding-left: 0;
	margin-left: 0;
}
.alleventstext2 {
	font-family: Audiowide;
	font-size: 50px;
	font-weight: 400;
	line-height: 127.49px;
	text-align: center;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
}
@media only screen and (max-width: 1150px) {
	.abiyanthlogoimg {
		height: 280px;
	}
	.alleventsculturalsheading {
		font-size: 26px;
		margin-left: 2.5rem;
		line-height: 10px;
	}
}
@media only screen and (max-width: 1150px) {
	.abiyanthlogoimg {
		height: 200px;
	}
	.alleventsculturalsheading {
		font-size: 26px;
		margin-left: 2.5rem;
		line-height: 5px;
	}
}
@media only screen and (max-width: 680px) {
	.alleventscontainer {
		margin: 0;
	}
	.alleventstopHeading {
		margin-bottom: 1rem;
		font-size: 30px;
	} 
	.alleventstext1 {
		font-size: 28px;
		padding-left: 0;
		margin-left: 0;
	}
	.alleventstext2 {
		font-size: 35px;
	}
	.eventsContainer {
		margin-block: 1rem;
	}
	.abiyanthlogoimg {
		height: 100px;
	}
	.imageInHeader {
		height: 75px;
	}
	.alleventsculturalsheading {
		font-size: 16px;
		margin-left: 1rem;
		line-height: 10px;
	}
	.duplicate123 {
		top: 10px;
		left: 20px;
	}
}
