
.header{
  display : flex;
  flex-direction: row;
  justify-content:space-between;
  align-items:center;
  width:100%;
  position: fixed;
  z-index:3;
  top:0;

}

.nav-item{
  margin: 10px 30px;
  padding: 50x 0px;
  border-radius: 10px;
  border:none;
  cursor: pointer;
  background-color: transparent;
}
/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 100 to 900 */

.inter-content{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.AudiowideRegular {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style:normal;
  color: #ffffff;
}